.navbar {
    background-color: #400707;
    border-color: #400707;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.right .github-fork-ribbon {
    background-color: #f80;
}
body {
    background-color: #D81717;
    color: #FFEC00;
}
